body {
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.header {
    margin-bottom: 10px;
}

.text-heading {
    font-size: 40px;
    color: #272727;
    font-size: 55px;
    margin-bottom: 0%;
    margin-right: 30px;
}

.first-pra {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #fff;
    font-size: 15px;
    padding: 10px 30px;
    border: 0px;
}

.text-boundary {
    padding: 0px 30px 40px;
}

.primary-text {
    color: #E55473;
}

nav .cover-img {
    width: 400px;
    height: 500px;
}

.cover-page {
    padding: 30px 140px 0px 140px;
    display: flex;
    align-items: center;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);
    ;
    background-size: auto;
}

.deal-write {
    color: #272727;
    font-size: 30px;
    font-weight: 300;
}

.deal-text {
    text-align: center;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;

}

.pra-deal {
    font-size: 15px;
    width: 500px;

}

.deal-pic {
    width: 200px;
    padding: 30px;
}

.insta {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 80px;
}

.insta-pra {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 500px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0px 300px 5px 300px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.box {
    width: 250px;
    height: 300px;
    padding: 15px;
    margin-bottom: 50px;

}

.latest-deal {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0%;
}

.latest-pra {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0%;
}

.email-tag {
    width: 500px;
    height: 30px;
    margin-right: 10px;
}

.sub-btn {
    padding: 0px 150px 5px 300px;
}

.latest-cover {
    background-image: url("/Flower\ Asset/Rectangle 9.png");
    width: 1100px;
    height: 350px;
    margin: auto;
    border-radius: 5px;
    margin-top: 60px;
}

.latest-token {
    padding-top: 120px;
}

footer {
    width: 1260px;
    height: 300px;
    background: #111010;
    margin-top: 80px;

}

.flower-shop {
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 0%;
  
}
.footer-pra {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 230px 0px 230px;
}
.copy-right {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.footer-text{
    padding: 30px 80px 30px 80px;
}